  
   <div>
    
             
             <span *ngFor="let room of roomdata"


               style="float: left;
	width: 50%;">
           <a style="text-decoration:none;">
               <ion-card style="height:80px;border:1px solid black;"><center style="line-height:80px;font-size:150%">
                   {{ room.name }}</center></ion-card></a>
                                                                                                                        </span>
               </div>

