  
   <div>
    
             
             <span style="float: left;width: 50%;" *ngFor="let room of roomdata">
           <a style="text-decoration:none;">
               <ion-card style="height:80px;border:1px solid black;"><center style="line-height:80px;font-size:150%" (click)="itemTapped($event, room)">
                   {{ room.name }}</center></ion-card></a>
       
                 
       </span>                                                          										</div>
               

